version: '3.8'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - SECRET_KEY=1234
      - FLASK_ENV=development
    restart: unless-stopped